In [94]:
#import numpy as np
#import pandas as pd
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [95]:
data = pd.read_csv('/Users/nilesh/Downloads/Data Science/Test_Dataset/car.data',
names=['buying','maint','doors','persons','lug_boot','safety','class'])

In [96]:
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [97]:
data['class'],class_names = pd.factorize(data['class'])

In [98]:
print(class_names)

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')

In [99]:
print(data['class'].unique())

[0 1 2 3]

In [100]:
data['buying'],_ = pd.factorize(data['buying'])
data['maint'],_ = pd.factorize(data['maint'])
data['doors'],_ = pd.factorize(data['doors'])
data['persons'],_ = pd.factorize(data['persons'])
data['lug_boot'],_ = pd.factorize(data['lug_boot'])
data['safety'],_ = pd.factorize(data['safety'])

In [101]:
data.head()

   buying  maint  doors  persons  lug_boot  safety  class
0       0      0      0        0         0       0      0
1       0      0      0        0         0       1      0
2       0      0      0        0         0       2      0
3       0      0      0        0         1       0      0
4       0      0      0        0         1       1      0

In [102]:
X = data

In [103]:
y = data.iloc[:,-1]

In [104]:
model = KMeans(n_clusters=4, random_state=0, max_iter=500)

In [105]:
model.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=500,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=0, tol=0.0001, verbose=0)

In [106]:
model.cluster_centers_

array([[0.70901639, 1.3545082 , 2.56762295, 0.95901639, 0.9897541 ,
        0.95491803, 0.20901639],
       [0.60273973, 1.64840183, 0.4109589 , 0.97716895, 0.98630137,
        0.97031963, 0.1803653 ],
       [2.46978022, 2.57417582, 1.79945055, 1.15934066, 1.0521978 ,
        1.18131868, 1.1510989 ],
       [2.47260274, 0.62100457, 1.15068493, 0.93607306, 0.98173516,
        0.92922374, 0.27625571]])

In [107]:
model.inertia_

7266.018704824258

In [108]:
labels = model.labels_

In [109]:
correct_labels = sum(y == labels)

In [110]:
print("Result: %d out of %d samples were correctly labeled." 
      % (correct_labels, y.size))

Result: 527 out of 1728 samples were correctly labeled.